<div id="footer" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center">
    <div class="left" fxFlexAlign="start">
        <h3>"A healthy outside start from inside"</h3>
        <span class="author">_Robert Urich</span>
    </div>
    <div class="center" fxFlexAlign="center">
        <img src="assets/images/footer@2x.png" alt="footer logo">
    </div>
    <div class="right" fxLayout="column" fxFlexAlign="start" fxFlexAlign.lt-md="center">
        <h5>Lê Đức Thọ ,Quận Gò Vấp, TP HCM</h5>
        <h5><span class="bold">SDT: </span>0935.53.2018</h5>
        <div class="social">
            <a href=""><img src="assets/images/facebook@2x.png" alt="facebook"></a>
            <a href=""><img src="assets/images/gmail@2x.png" alt="gmail"></a>
        </div>
    </div>
</div>