<div id="sanpham-thuysan">
    <content [products]="thuysanProductsNew | async" *ngIf="(thuysanProductsNew | async).length && !loading"></content>
    <div *ngIf="(thuysanProductsNew | async).length==0 && !loading"  fxLayoutAlign="center center">
        <div class="noProduct" fxLayout="column"  fxLayoutAlign="center center">
            <h2>Hiện tại chưa có sản phẩm</h2>
            <a routerLink="/">Về trang chủ</a>
        </div>
    </div>
    <div class="loaderThuysan" *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/images/loader.gif" alt="">
    </div>
</div>